{% extends "base.html" %}
{% load static %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/jquery.nestable.js' %}"></script>
<script src="{% static 'js/uploadchildren.js' %}"></script>
<script src="{% static 'js/getCookie.js' %}"></script>

{% csrf_token %}

{% load mptt_tags %}

<div class="cf nestable-lists">
  <div class="dd" id="nestable">
    <ol class="root dd-list">
      {% recursetree employees %}
        <li class="dd-item" id="{{ node.id }}">
          <div class="dd-handle" id="div{{ node.id }}">{{ node.full_name }}, Position - {{ node.position }}, Salary - {{ node.salary }}</div>
          {% if not node.is_leaf_node %}
            <ol class="children">
                {{ children }}
            </ol>
          {% endif %}
        </li>
      {% endrecursetree %}
    </ol>
  </div>
</div>

{% endblock %}
