{% extends "base.html" %}
{% load static %}

<head>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/static/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/static/fancybox/script.js"></script>
<link rel="stylesheet" type="text/css" href="/static/fancybox/style.css">
<script src="{% static 'js/sort.js' %}"></script>
<script src="{% static 'js/document_write.js' %}"></script>
</head>

{% block content %}

<div class="rgba-black-strong py-5 px-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8">
            <div class="card-header p-0 z-depth-1">
                <div class="d-table">
                    <div class="d-tr">
                        <div class="d-td" style="width:35%" onclick="search_text('full_name')"><h4>EMPLOYEE NAME</h4></div>
                        <div class="d-td" style="width:15%" onclick="search_text('position')"><h4>POSITION</h4></div>
                        <div class="d-td" style="width:15%" onclick="search_text('employment_date')"><h4>START DATE</h4></div>
                        <div class="d-td" style="width:15%" onclick="search_text('salary')"><h4>SALARY</h4></div>
                        <div class="d-td" style="width:10%"><h4>DELETE</h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% if products.has_other_pages %}
        {% include "paginator.html" with items=products paginator=paginator geturl=request.GET.urlencode %}
    {% endif %}

<!--
{% block page %}
    <div id="div_sort">
    {% include 'employees_all_sort.html' %}
    </div>
{% endblock %}
-->

{% endblock %}